@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,100;1,500&display=swap');

* {
    font-family: 'Kanit', sans-serif ;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6EDF6;
}

h1 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}

.form-input {
    width: 40%;
}

.form-input .email, .form-input .password {
    height: 7vh;
}

.form-input label {
    position: relative;
    display: block;
    padding-left: 1vw;
    height: 2vh;
    color: #ADA9BB;
    top: 1.1vh;
    left: 0.3vw;
    font-size: 0.7rem;
}

.form-input input {
    height: 5vh;
    border-radius: 10px;
}

.form-input .password img {
    position: relative;
    left: 35vw;
    bottom: 4.5vh;
    height: 3.5vh;
}

.forgot-pass {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
}

.forgot-pass a {
    text-decoration: none;
    font-size: 2vh;
    color: #000;
}

.button {
    width: 40%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.button .btn {
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 800;
}

.button .login {
    background-color: #5784BA;
}

.button .google {
    color: #010620;
    background-color: rgba(0, 13, 79, 0.08);
    border: none;
}

.button .google img {
    height: 3.5vh;
    margin-right: 1vw;
}

.register {
    margin-top: 10%;
}

.register p {
    font-size: 0.7rem;
    font-weight: 700;
    color: #ADA9BB;
}

.register p a {
    text-decoration: none;
}


@media screen and (max-width: 767px) {
    .form-input, .forgot-pass, .button {
        width: 60%;
    }

    .form-input .password img {
        left: 50vw;
    }

    .forgot-pass a {
        font-size: 1.5vh;
    }
}   